/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Jay Margalus
 */

body {
	background: #fafafa;
	font-family: Baskerville, 'Times New Roman', Georgia, Times, serif;
}

h1, h2 {
	font-family: Vollkorn, Baskerville, 'Times New Roman', Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 4em;
	color: #000;
}

h2 {
	font-size: 2.5em;
	color: #333;
}

input:focus {
	outline: none;
	color: #000;
}

header#header_userview {
	width: 996px;
	border-bottom: 2px solid #000;
	margin: 20px auto 0;
}

header#header_userview h1 {
	font-size: 1.5em;
	float: left;
}

header#frontheader {
	background: #ddd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
	background: -moz-linear-gradient(top,  #ddd,  #eee);
	border-bottom: 1px solid #ccc;
}

#frontheader h1 {
	text-shadow: 0 -1px 0 #bfbfbf;
}

.userinfo a {
	text-decoration: none;
	float: right;
	color: #c82f10;
}

#main header {
	margin: 20px 0 0;
}

#main {
	clear: both;
	width: 996px;
	margin: 40px auto 180px;
	position: relative;
}

footer#footer {
	clear: both;
	background: #000;
	color: #fff;
	padding: 30px 10px;
}

#front {
	position: relative;
	height: 450px;
}

#frontleft {
	float: left;
	width: 600px;
	position: absolute;
	z-index: 1;
}

#frontright {
	position: absolute;
	z-index: 0;
	right: 0;
	width: 366px;
	background: #eee;
	padding: 30px 30px 100px 100px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.steps {
	clear: both;
	text-align: left;
	font-size: 2em;
	width: 956px;
	background: #eee;
	padding: 20px;
	margin: 20px 0 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.stepcontainer {
	width: 800px;
	padding-top: 10px;
}

.circles {
	width: 80px;
	height: 80px;
	background: #000;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}

.circles p {
	font-size: 1.9em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}

.frontdescription {
	font-family: Georgia, 'Times New Roman', Serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: justify;
	color: #000;
}

#leftcontainer {
	width: 794px;
	padding-right: 17px;
	border-right: 1px solid #f0f0f0;
	float: left;
}

ul#weekview {
	float: left;
	list-style: none inside;
	margin: 0;
}

#theday {
	color: #c82f10;
}

#theday header {
	border-bottom: 2px solid #c82f10;
}

.dayview {
	float: left;
	width: 150px;
	height: 525px;
	padding: 0 4px;
	border-right: 1px solid #eee;
}

.dayview header {
	font-size: 1.5em;
	margin: 0;
	padding: 5px 5px 0 0;
	border-bottom: 2px solid #333;
}

.date {
	float: right;
	font-size: .8em;
}

ul.daylist {
	list-style: none inside;
	text-align: justify;
	margin: 0;
	padding: 5px 0 0;
}

.daylist li {
	border-bottom: 1px solid #ddd;
	margin: 5px 0 0;
	padding: 0 0 2px;
	height: 16px;
	overflow: hidden;
	position: relative;
}

.daylist li:hover {
	overflow: visible;
}

.filled span {
	display: block;
	cursor: pointer;
	position: absolute;
	z-index: 0;
}

.filled span:hover {
	background: #333;
	color: #fafafa;
	padding: 0 5px;
	z-index: 100;
}

#theday .filled span:hover {
	background: #c82f10;
}

input#funstuffinput, input#miscellaneous {
	font-family: Baskerville, 'Times New Roman', Georgia, Times, serif;
}

input.todoitem {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: Baskerville, 'Times New Roman', Georgia, Times, serif;
	color: #000;
}

ul#rightdrawer {
	margin: 0;
	float: right;
	list-style: none inside;
	width: 170px;
}

ul#funstuff, ul#misc {
	float: right;
	list-style: none inside;
	border: 2px solid #1f70b5;
	margin: 20px 0 0;
	width: 160px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

ul#misc {
	border: 2px solid #333;
}

#funstuff header, #misc header {
	font-size: 1.5em;
	margin: 0 0 5px;
	padding: 3px;
	background: #1f70b5;
	color: #fafafa;
}

#misc header {
	background: #333;
}

#funstuff li, #misc li {
	padding: 3px;
	color: #000;
}

#funstuffinput, #miscellaneous {
	width: 150px;
	margin: 0 auto;
	display: block;
}

.previmg {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	border: 10px solid #333;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

a.button {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	color: #fafafa;
	text-decoration: none;
	text-shadow: 0 -1px 0 #bfbfbf;
	background: #ffa332;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#151514');
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#151514));
	background: -moz-linear-gradient(top,  #333,  #151514);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: solid 2px #222;
	padding: 11px 12px 7px;
}

a.button:hover {
	color: #fff;
	background: #3d3d3d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#2d2d2d');
	background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#2d2d2d));
	background: -moz-linear-gradient(top,  #3d3d3d,  #2d2d2d);
	border: solid 2px #3d3d3d;
	box-shadow: 0 0 10px #ff6854;
	-moz-box-shadow: 0 0 10px #ff6854;
	-webkit-box-shadow: 0 0 10px #ff6854;
}

.profile_submit {
	
}

.profile_submit h2 {
	margin: 0 0 20px;
}

.profile_submit input {
	clear: both;
	display: block;
}

.profile_submit input[type=text] {
	width: 300px;
	font-size: 1.5em;
}

.profile_submit label {
	clear: both;
}

.profile_submit p {
	margin: 0 0 20px;
}

.rightspace {
	margin: 0 20px 0 0;
}

.center {
	text-align: center;
}

.last {
	border: none;
}

.clearfix {
	clear: both;
}

.leftalign {
	float: left;
}

.rightalign {
	float: right;
}

/* Scrolling */

#scrollbar {
	width: 794px;
	height: 30px;
	margin: 20px 0;
	background: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#leftbutton {
	cursor: pointer;
	background: #000;
	width: 30px;
	padding: 6px 0 2px 6px;
	float: left;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#rightbutton {
	cursor: pointer;
	background: #000;
	width: 30px;
	padding: 6px 6px 2px 0;
	float: right;
	text-align: right;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#leftbutton:hover, #rightbutton:hover {
	background: #3d3d3d;
}

/* End Scrolling */


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

